@import "tailwindcss";

@layer utilities {
  @media print {
    thead {
      display: table-header-group !important;
    }
    tfoot {
      display: table-footer-group !important;
    }
    tr {
      page-break-inside: avoid !important;
      page-break-after: auto !important;
    }
  }
}